// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) public import OpenAPIRuntime
#if os(Linux)
@preconcurrency public import struct Foundation.URL
@preconcurrency public import struct Foundation.Data
@preconcurrency public import struct Foundation.Date
#else
public import struct Foundation.URL
public import struct Foundation.Data
public import struct Foundation.Date
#endif
import HTTPTypes
/// 盲人陪跑志愿者匹配服务
///
/// 坐标系约定（2026-07-19 确认）：全部接口的 lat/lng（含 gpsLat/gpsLng）统一使用 GCJ-02（国测局加密坐标，与高德/腾讯定位 SDK 输出一致），前端上报定位需使用高德/腾讯定位 SDK 输出值，不要使用系统原生 GPS 的 WGS-84 原始值。
///
/// 时间格式约定（2026-08-04 修正）：全部时间字段是**无时区偏移的本地时间** `yyyy-MM-ddTHH:mm:ss`，服务端时区固定 `Asia/Shanghai`（`DemoApplication.applyDefaultTimeZone()`）。此前这些字段误标 `format: date-time`（RFC 3339，要求带 `+08:00`/`Z` 偏移），与实际不符，现改为 `type: string` + `pattern`。两个必须注意的点：① **秒后面可能带小数**（任何直接取自 `LocalDateTime.now()` 的字段，如 `createdAt`/`acceptedAt`/`recordedAt`，实测形如 `2026-08-04T11:40:42.644571`），客户端解析器必须容忍可选的 `.\d+`，只按 `yyyy-MM-dd'T'HH:mm:ss` 解会失败；② **请求侧不接受带偏移的串**，发 `2026-08-04T09:05:03+08:00` 会被 Jackson 判 `InvalidFormatException` 返 400。
///
/// 错误码总表（2026-07-31 建立）：全部 errorCode 的取值、HTTP 状态、触发场景与后端 message 集中在 `components/schemas/ErrorCode` 的 description 里（由 `ErrorCode` 枚举生成）。客户端按 errorCode 分支前请先查表确认该码是否一码多义。
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// 登出契约（S11，2026-07-13 确认）：只撤销本次请求携带的这一个 token， 不影响同账号其他仍在有效期内的 token（如 POST /api/user/role 选角色后签发的替换 token）。 如需下线同账号全部会话，请调用账号注销（DELETE /api/users/{id}）。
    ///
    /// - Remark: HTTP `POST /api/auth/logout`.
    /// - Remark: Generated from `#/paths//api/auth/logout/post(logout_1)`.
    public func logout_1(_ input: Operations.logout_1.Input) async throws -> Operations.logout_1.Output {
        try await client.send(
            input: input,
            forOperation: Operations.logout_1.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/auth/logout",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.logout_1.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIObjectContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// - Remark: HTTP `GET /api/auth/me`.
    /// - Remark: Generated from `#/paths//api/auth/me/get(getCurrentUser)`.
    public func getCurrentUser(_ input: Operations.getCurrentUser.Input) async throws -> Operations.getCurrentUser.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getCurrentUser.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/auth/me",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getCurrentUser.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIObjectContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// - Remark: HTTP `POST /api/auth/send-code`.
    /// - Remark: Generated from `#/paths//api/auth/send-code/post(sendCode)`.
    public func sendCode(_ input: Operations.sendCode.Input) async throws -> Operations.sendCode.Output {
        try await client.send(
            input: input,
            forOperation: Operations.sendCode.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/auth/send-code",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.sendCode.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIObjectContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// - Remark: HTTP `POST /api/auth/verify-code`.
    /// - Remark: Generated from `#/paths//api/auth/verify-code/post(verifyCode)`.
    public func verifyCode(_ input: Operations.verifyCode.Input) async throws -> Operations.verifyCode.Output {
        try await client.send(
            input: input,
            forOperation: Operations.verifyCode.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/auth/verify-code",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.verifyCode.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.LoginResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 我的固定搭档，收藏时间倒序。**仅 BLIND**。
    ///
    /// 陪跑的核心成本是**磨合** —— 用什么牵引方式、你习惯别人怎么提醒路况、你的配速。 每单换人等于每单重新磨合。United In Stride 的运营结论是每位视障跑者需要 6~8 名固定陪跑员。
    ///
    /// ⚠️ 条目里**没有电话**：这个列表是「我跟谁跑得来」不是通讯录。要打电话走订单详情的 `volunteerPhone`，那里有状态门（只在汇合四态下发）；把号码放进一个长期列表等于绕开那道门。 姓名一律掩码（`李*`）。志愿者已注销时 `volunteerName` 为 `null` —— 一个注销的搭档 不该让整个列表 500。
    ///
    /// - Remark: HTTP `GET /api/blind/favorite-volunteers`.
    /// - Remark: Generated from `#/paths//api/blind/favorite-volunteers/get(list_2)`.
    public func list_2(_ input: Operations.list_2.Input) async throws -> Operations.list_2.Output {
        try await client.send(
            input: input,
            forOperation: Operations.list_2.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/favorite-volunteers",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.list_2.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.FavoriteVolunteerResponse].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 收藏一位志愿者。**幂等** —— 重复收藏返 204 而不是 409，客户端不必先查一次。
    ///
    /// 🚨 **必须一起跑完过至少一单**，否则返 400 + `FAVORITE_VOLUNTEER_NOT_ELIGIBLE`。 两个理由：① 不设这道门，这个端点就变成「拿任意 userId 试一下，204 说明这人存在且是 志愿者」的枚举接口，且能把陌生人塞进自己的派单偏好；② 固定搭档的价值来自**已经磨合过**。 ⚠️ 「没一起跑完过」与「这个 id 根本不是志愿者」**同码同文案**，客户端不要试图区分 —— 区分开就等于确认了这个 id 是个志愿者。
    ///
    /// 🚨 **收藏只影响派单排序，不影响资格**：收藏的人照样要过全部硬过滤 （在线、已认证、距离、导盲犬、时间重叠）。加分（默认 15 分，加在满分 100 的五维加权和之外） **不是压倒一切** —— 附近有个不错的陌生人时，很远的固定搭档仍然会输。 客户端文案不要承诺「优先派给他」，只能说「更可能派给他」。
    ///
    /// 🚨 **对方退出过就加不回来了**（400 + `FAVORITE_VOLUNTEER_OPTED_OUT`）。退出标记跟着 **这一对**走 —— 跑者自己取消收藏也抹不掉它，所以「取消一下再重新收藏」不是恢复手段。 本轮没有恢复路径（见 `DELETE /api/volunteer/favorites/{blindUserId}` 的说明）。 ⚠️ 这个码的文案不要复用 `FAVORITE_VOLUNTEER_NOT_ELIGIBLE` 那句「只能收藏一起跑完过的」—— 这一对恰恰是跑过的，念出来是假话，而跑者只能听 TTS。
    ///
    /// - Remark: HTTP `PUT /api/blind/favorite-volunteers/{volunteerId}`.
    /// - Remark: Generated from `#/paths//api/blind/favorite-volunteers/{volunteerId}/put(add)`.
    public func add(_ input: Operations.add.Input) async throws -> Operations.add.Output {
        try await client.send(
            input: input,
            forOperation: Operations.add.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/favorite-volunteers/{}",
                    parameters: [
                        input.path.volunteerId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .put
                )
                suppressMutabilityWarning(&request)
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 204:
                    return .noContent(.init())
                case 400:
                    return .badRequest(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 取消收藏。**幂等** —— 没收藏过也返 204，客户端不需要先查一次。
    ///
    /// ⚠️ 服务端是**打标记不是删行**（对客户端无差别：这个人从列表里消失，名额也让出来）。 这么做是因为真删了，「取消 → 下次跑完再收藏」两次正常点击就会把对方的退出 无声地撤销掉。副作用是：**对方已退出的条目，取消之后就再也加不回来了** —— 如果界面上对 `partnerOptedOut=true` 的条目也提供取消按钮，建议加一次二次确认。
    ///
    /// - Remark: HTTP `DELETE /api/blind/favorite-volunteers/{volunteerId}`.
    /// - Remark: Generated from `#/paths//api/blind/favorite-volunteers/{volunteerId}/delete(remove)`.
    public func remove(_ input: Operations.remove.Input) async throws -> Operations.remove.Output {
        try await client.send(
            input: input,
            forOperation: Operations.remove.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/favorite-volunteers/{}",
                    parameters: [
                        input.path.volunteerId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .delete
                )
                suppressMutabilityWarning(&request)
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 204:
                    return .noContent(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 我和固定搭档的双人火花（盲人视角）
    ///
    /// 连续多少个自然周（ISO 周，周一 00:00 – 周日 23:59）和同一位志愿者一起跑过。 该周内这一对有 ≥1 单 `COMPLETED` 就算这一周跑过。
    ///
    /// 🚨 **口径与积分刻意不同**：火花**不看**是手动完成还是超时自动完成。 火花衡量的是关系的连续性，而「志愿者忘了点完成」不该让两个人的关系断掉。
    ///
    /// ⚠️ **未点亮的一对不在数组里**（默认门槛连续 2 周）。数组按 `currentWeeks` 倒序 —— 读屏是顺序播报的，排在后面等于不存在。
    ///
    /// ⚠️ **惰性计算**：火花只在这一对完成订单时结算，不跑调度器。 所以「断了」是在他们**下一次跑完一单时**才被发现的 —— 这也是断裂通知 `PARTNER_STREAK_RESTARTED` 的文案是「新的连续记录开始了」而不是「已中断」的原因。
    ///
    /// - Remark: HTTP `GET /api/blind/partners/streaks`.
    /// - Remark: Generated from `#/paths//api/blind/partners/streaks/get(myStreaksAsBlind)`.
    public func myStreaksAsBlind(_ input: Operations.myStreaksAsBlind.Input) async throws -> Operations.myStreaksAsBlind.Output {
        try await client.send(
            input: input,
            forOperation: Operations.myStreaksAsBlind.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/partners/streaks",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.myStreaksAsBlind.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.PartnerStreakResponse].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 401:
                    return .unauthorized(.init())
                case 403:
                    return .forbidden(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 获取盲人资料
    ///
    /// - Remark: HTTP `GET /api/blind/profile`.
    /// - Remark: Generated from `#/paths//api/blind/profile/get(getProfile_1)`.
    public func getProfile_1(_ input: Operations.getProfile_1.Input) async throws -> Operations.getProfile_1.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getProfile_1.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/profile",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getProfile_1.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.BlindProfileResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 更新盲人资料
    ///
    /// - Remark: HTTP `PUT /api/blind/profile`.
    /// - Remark: Generated from `#/paths//api/blind/profile/put(updateProfile_1)`.
    public func updateProfile_1(_ input: Operations.updateProfile_1.Input) async throws -> Operations.updateProfile_1.Output {
        try await client.send(
            input: input,
            forOperation: Operations.updateProfile_1.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/profile",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .put
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.updateProfile_1.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIObjectContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 身份认证
    ///
    /// 提交身份证姓名和号码进行二要素核验。**同步返回终态，没有「审核中 / PENDING」状态**：
    /// 核验通过 → 200，用户 `verifyStatus` 置为 `VERIFIED`；核验不通过 → **400**，`verifyStatus` 为 `FAILED`。
    /// 响应体 `data.verifyStatus` 直接带回权威状态（2026-07-30 新增，优化前需额外一次 `GET /api/blind/profile`
    /// 往返；老客户端若不读这个字段，仍可退回 `GET /api/blind/profile` 读取）：
    ///   - 200 成功：`data = {"message": "身份认证通过", "verifyStatus": "VERIFIED"}`
    ///   - 400 失败：`data = {"verifyStatus": "FAILED"}`（`message` 仍在信封顶层，不在 `data` 里）
    /// `verifyStatus` enum 仅 `NOT_VERIFIED` / `VERIFIED` / `FAILED`（无 PENDING）。
    /// **`verifyStatus` 现在是下单硬门槛**：`OrderCreationService.createOrder` 要求 `verifyStatus == VERIFIED`，
    /// 否则 403 `IDENTITY_NOT_VERIFIED`（2026-07-30 由软引导升级为硬门槛，回应 `handoff.md`
    /// 待后端确认 Q1，2026-07-29）。
    ///
    /// - Remark: HTTP `POST /api/blind/verify-identity`.
    /// - Remark: Generated from `#/paths//api/blind/verify-identity/post(verifyIdentity)`.
    public func verifyIdentity(_ input: Operations.verifyIdentity.Input) async throws -> Operations.verifyIdentity.Output {
        try await client.send(
            input: input,
            forOperation: Operations.verifyIdentity.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/verify-identity",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.verifyIdentity.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseBlindVerifyResult.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.verifyIdentity.Output.BadRequest.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseBlindVerifyResult.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .badRequest(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// WebSocket 断线时的 REST 位置降级。**仅 BLIND**，取当前进行中订单里志愿者的最新坐标。
    ///
    /// `data` 的键：`lat` / `lng`（GCJ-02）、`orderId`、`status`、`updatedAt`。
    ///
    /// - `status` —— 订单当前状态，**与 `GET /api/orders/{id}` 同源**，同一时刻可能领先于
    ///   客户端上一次轮询到的值。⚠️ 拿它做交叉校验时应「不一致以本条为准并刷新订单」，
    ///   **不要用它否掉坐标** —— 坐标是这个端点存在的唯一理由。
    ///   （2026-08-20 由 `orderStatus` 改名为 `status`：iOS 一直解 `status`，
    ///   于是那条校验从未真正执行过。回归门 `OrderTrackTest#volunteerLocationFallback_worksDuringInProgress`。）
    /// - `updatedAt` —— 位置采样时刻，**epoch 毫秒**，与 WebSocket `VOLUNTEER_LOCATION_UPDATE`
    ///   的 `timestamp` 同格式同来源。没有它客户端只能完全依赖服务端 Redis TTL
    ///   （`app.volunteer.location-ttl-seconds`，当前 30 秒）判新鲜度。
    ///
    ///
    /// 位置 key 不存在（志愿者超过 TTL 没上报）返 404 —— **这是正常情况，不是错误**， 客户端应静默保持上一个已知位置，别念报错。
    ///
    /// - Remark: HTTP `GET /api/blind/volunteer-location`.
    /// - Remark: Generated from `#/paths//api/blind/volunteer-location/get(getVolunteerLocation)`.
    public func getVolunteerLocation(_ input: Operations.getVolunteerLocation.Input) async throws -> Operations.getVolunteerLocation.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getVolunteerLocation.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/blind/volunteer-location",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getVolunteerLocation.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseObject.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 读取功能开关状态
    ///
    /// 2026-08-24 新增（handoff iOS 那条）。客户端用它决定**空态说什么**。
    ///
    /// 三个 SPEC-E 开关默认关闭，关着时相关端点返回空数组 —— 而同一个空数组有两个
    /// 完全不同的含义：「功能还没开放」和「你确实还没点亮」。此前客户端恒说后者，
    /// 于是开关关着的那段时间里，那句文案是在教用户去做一件**做了也不会有结果的事**。
    /// 对读屏用户尤其糟：他会照着做两周，回来发现还是空的。
    ///
    /// ⚠️ **需要登录，但刻意不限角色**：盲人要 `partnerStreakEnabled`，
    /// 志愿者要另外两个，两边都得读；未登录的人拿它没有用途，所以也不放进 permitAll。
    ///
    /// 🚨 **本端点只回答「功能开没开」，不回答「你有没有」** —— 后者是各自列表端点的事。
    /// 混进来的话客户端就有两个地方能得出「显示什么」，而它们迟早不一致。
    ///
    /// - Remark: HTTP `GET /api/config/features`.
    /// - Remark: Generated from `#/paths//api/config/features/get(getFeatures)`.
    public func getFeatures(_ input: Operations.getFeatures.Input) async throws -> Operations.getFeatures.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getFeatures.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/config/features",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getFeatures.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseFeatureFlagsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 读取规则参数
    ///
    /// 2026-10-06 新增（#356，派单与邀请模型 SPEC 的 PR-5）。客户端用它拿**用来显示或跳转的数**，
    /// 不再各自写死一份镜像常量（此前 iOS 把「开跑前 120 分钟自动打开订单」写死在客户端里，
    /// 后端想调就得等发版）。
    ///
    /// 🚨 **这里的数只用来显示或跳转，判定结果仍由后端给** —— 「算不算临时取消」「该不该自动
    /// 打开」都以后端返回的字段为准，客户端不要拿这里的数自己再算一遍。
    ///
    /// ⚠️ **邀请的回复期限不在这里**：它因单而异（距开跑远近分档），跟着每条邀请自己的
    /// `expiresAt` 走，客户端读那个字段显示。
    ///
    /// ⚠️ **需要登录，但刻意不限角色**（与 `/features` 相同）：盲人与志愿者都要读，
    /// 未登录的人用不上，所以也不放进 permitAll。
    ///
    /// - Remark: HTTP `GET /api/config/rules`.
    /// - Remark: Generated from `#/paths//api/config/rules/get(getRules)`.
    public func getRules(_ input: Operations.getRules.Input) async throws -> Operations.getRules.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getRules.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/config/rules",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getRules.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseRuleParamsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 上报推送设备标识（iOS 的 APNs token 离线推送兜底，B5；#458 起也接收 Android）
    ///
    /// BLIND 或 VOLUNTEER 上报设备 token；幂等 upsert（重复上报只刷新）。iOS 端在远程通知注册成功回调 + 每次进前台时调用。`platform` 缺省为 `IOS`；`ANDROID` 的标识不做 hex 校验。⚠️ APNs 只会发给 `IOS` 设备，Android 标识本期只是存下来（发送通道见 #459）。路径沿用 `/apns`，改名是破坏性变更。
    ///
    /// - Remark: HTTP `POST /api/devices/apns`.
    /// - Remark: Generated from `#/paths//api/devices/apns/post(registerApnsToken)`.
    public func registerApnsToken(_ input: Operations.registerApnsToken.Input) async throws -> Operations.registerApnsToken.Output {
        try await client.send(
            input: input,
            forOperation: Operations.registerApnsToken.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/devices/apns",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.registerApnsToken.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseVoid.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    return .badRequest(.init())
                case 401:
                    return .unauthorized(.init())
                case 403:
                    return .forbidden(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 解绑本机 APNs device token（登出流程调用）
    ///
    /// 2026-08-07 新增。BLIND 或 VOLUNTEER 解绑**当前这一台**设备的 token。
    ///
    /// **为什么需要**：设备上登出、但没有别人再登录时，token 仍绑在旧 userId 上，
    /// 旧账号的推送会继续送达这台设备。推送带 `ttsText`，对盲人用户意味着可能被朗读出
    /// 一条不属于当前使用者的订单或紧急消息。此前无任何自动兜底
    /// （APNs 只在 token 失效——卸载/轮换——时才回报删除，登出不会让 token 失效）。
    ///
    /// ⚠️ **调用顺序：必须先调本接口、再调 `POST /api/auth/logout`。**
    /// logout 会把 JWT 拉黑，反过来调的话 JwtFilter 查到黑名单直接返 401，
    /// token 删不掉，洞照样在。这一条读代码看不出来，请写进登出流程的注释。
    ///
    /// **幂等**：token 不存在、或该 token 属于别人时，同样返 200 且不做任何事
    /// （返 403 会把「这个 token 是不是别人的」变成可探测的答案）。失败可安全重试。
    ///
    /// 请求体复用 `ApnsTokenRequest`，`platform` 只用来决定 token 的格式校验（iOS 要 hex；Android 解绑也要带 `ANDROID`）。
    /// 本接口只解绑一台设备；账号注销才会清空该用户的全部设备。
    ///
    /// - Remark: HTTP `DELETE /api/devices/apns`.
    /// - Remark: Generated from `#/paths//api/devices/apns/delete(unregisterApnsToken)`.
    public func unregisterApnsToken(_ input: Operations.unregisterApnsToken.Input) async throws -> Operations.unregisterApnsToken.Output {
        try await client.send(
            input: input,
            forOperation: Operations.unregisterApnsToken.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/devices/apns",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .delete
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.unregisterApnsToken.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseVoid.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    return .badRequest(.init())
                case 401:
                    return .unauthorized(.init())
                case 403:
                    return .forbidden(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 陪跑员上传锁屏实时活动的 push token
    ///
    /// （2026-09-26 新增，陪跑员端订单页 v2）角色 `VOLUNTEER`，且必须是**这一单已接单的陪跑员**；只在
    /// `DRIVER_EN_ROUTE` / `DRIVER_ARRIVED` 可传。App 按下「我出发了」后本地 `Activity.request(pushType: .token)`，
    /// 拿到 `pushTokenUpdates` 的 token（十六进制）就调本接口；同一单再传一次覆盖。
    ///
    /// 之后后端经 APNs（`apns-push-type: liveactivity`）推：状态变化、ETA 分钟数变化、晚到变化、跑者到集合点、
    /// 汇合档位变化时 `update`；离开两态（开跑、完成、取消、重派、结束等待）时 `end`，锁屏保留 5 分钟。
    /// payload 形状与**日期编码**见 `docs/live-activity.md`（⚠️ `arriveAt` 是 Swift `Date` 默认编码，2001 纪元秒）。
    ///
    /// token 只存 Redis（6 小时），Redis 不可用时本次不存、锁屏不刷新，App 内不受影响。
    ///
    /// - Remark: HTTP `POST /api/devices/live-activity-token`.
    /// - Remark: Generated from `#/paths//api/devices/live-activity-token/post(registerLiveActivityToken)`.
    public func registerLiveActivityToken(_ input: Operations.registerLiveActivityToken.Input) async throws -> Operations.registerLiveActivityToken.Output {
        try await client.send(
            input: input,
            forOperation: Operations.registerLiveActivityToken.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/devices/live-activity-token",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.registerLiveActivityToken.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseVoid.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    return .badRequest(.init())
                case 403:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.registerLiveActivityToken.Output.Forbidden.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiErrorResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .forbidden(.init(body: body))
                case 404:
                    return .notFound(.init())
                case 409:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.registerLiveActivityToken.Output.Conflict.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiErrorResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .conflict(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 当前未终态的紧急事件（断线重连 / App 重启恢复用）
    ///
    /// 角色：`BLIND` 或 `VOLUNTEER`（2026-09-15 开放给志愿者）。 返回 `status` 不在终态（`RESOLVED` / `FALSE_ALARM` / `CANCELLED`）的最近一条事件， 没有则 `data` 为 `null`。
    ///
    /// 🚩 **两端语义不同，别照抄成一句话**：盲人拿的是**自己**的事件； 志愿者拿的是**他正在陪的那位盲人**的事件（事件永远挂在受助者身上， 按志愿者自己的 id 查恒为空）。志愿者侧只看 `DRIVER_EN_ROUTE` / `DRIVER_ARRIVED` / `IN_PROGRESS` 三态的订单 —— 一张下周的预约单上那位盲人此刻的求助与他无关。
    ///
    /// 开放给志愿者的理由：此前是 BLIND 专属，于是志愿者端 App 被杀掉再打开， 「对方正在求助」那条强提醒**再也回不来了**，而 WS 的 `EMERGENCY_*` 走 `APP_NOTIFICATION` 信封、不带 `eventId`，从通知流里也反推不出来。
    ///
    /// **这是拿事件 id 和当前状态的唯一权威来源** —— WS 的 `EMERGENCY_*` 通知走 `APP_NOTIFICATION` 信封，不带 `eventId`，不要试图从通知流反推事件状态。
    ///
    /// 原始 GPS 坐标不返回（只给 `hasGpsLocation` 布尔）。
    ///
    /// `csAcceptedAt`（#320）：客服接手时刻，两端都填；没人接手时为 null， 客户端据此决定是否显示「客服已接入」，**别用 status 推断**。
    ///
    /// - Remark: HTTP `GET /api/emergency/active`.
    /// - Remark: Generated from `#/paths//api/emergency/active/get(activeEvent)`.
    public func activeEvent(_ input: Operations.activeEvent.Input) async throws -> Operations.activeEvent.Output {
        try await client.send(
            input: input,
            forOperation: Operations.activeEvent.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/emergency/active",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.activeEvent.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseEmergencyEventResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 触发紧急求助
    ///
    /// 角色：`BLIND` 或 `VOLUNTEER`（陪跑中的志愿者可代盲人触发）。
    ///
    /// **`orderId` 只有在陪跑区间才算数**（2026-10-07，#582）：订单状态须为 `DRIVER_EN_ROUTE` / `DRIVER_ARRIVED` / `IN_PROGRESS`。 志愿者带其它状态的订单号（已完成、已取消、还没出发的预约单等）一律 403 `NOT_ORDER_PARTICIPANT`； **盲人本人**带这类订单号不会被拒，而是按**独立 SOS** 处理（事件不挂该订单、不通知该订单的志愿者），所以客户端缓存里留着旧订单号也不会影响求救。 订单校验排在冷却占位之前（#579）：`orderId` 不存在（400）/ 非参与者（403）的请求**不占**冷却位，去掉 `orderId` 立刻重发不会被 429。
    ///
    /// **事件永远挂在受助者身上**：传了 `orderId` 时受助者 = 该订单的盲人， 志愿者代触发只体现在 `triggerType=VOLUNTEER_BUTTON`，升级查的是盲人的紧急联系人。
    ///
    /// **触发即升级**：紧急联系人在本请求内就被通知（异步发短信），不再等志愿者响应 30 秒； 若订单有志愿者且触发者不是他，会并行推 `EMERGENCY_VOLUNTEER_ALERT` 给他。
    ///
    /// **坐标可选**：`gpsLat`/`gpsLng` 无 `@NotNull`，缺省时短信位置走三级降级 （无坐标 → "位置获取失败，请尽快拨打其电话或报警110"）。
    ///
    /// **倒计时（2026-09-15 新增）**：传 `useCountdown: true` 时事件先落 `COUNTDOWN`， 窗口内**什么都不发**，到点由服务端推成正式求助并走完全同一条升级链路。 长按求助键走这条；菜单里点选仍是立即触发 + 客户端二次确认。 倒计时**由服务端计**，手机在这几秒里崩溃/没电/被杀掉时求助照样发出。 ⚠️ 客户端照响应里的 `countdownEndsAt` 倒数，不要自己数（志愿者代触发时它是 null）。
    ///
    /// **幂等（2026-09-15 新增）**：传 `idempotencyKey` 时重复请求返回同一条事件。 ⚠️ 幂等判定排在冷却检查**之前** —— 弱网重试的是同一次求助， 走到冷却那步会回 429「操作太频繁」，而按下 SOS 后听到这句的人会以为求助失败、要重按。
    ///
    /// **冷却**：Redis `emergency:cooldown:{triggerUserId}`，SETNX 原子占位， TTL = `app.emergency.cooldown-seconds`（默认 60s），**按触发者计不按事件计**。 命中返回 429，`retryAfterSeconds` 为读取 Redis 得到的**真实剩余秒数**（读不到才退回配置值）。
    ///
    /// - Remark: HTTP `POST /api/emergency/trigger`.
    /// - Remark: Generated from `#/paths//api/emergency/trigger/post(triggerEmergency)`.
    public func triggerEmergency(_ input: Operations.triggerEmergency.Input) async throws -> Operations.triggerEmergency.Output {
        try await client.send(
            input: input,
            forOperation: Operations.triggerEmergency.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/emergency/trigger",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.triggerEmergency.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.EmergencyTriggerResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    return .badRequest(.init())
                case 403:
                    return .forbidden(.init())
                case 429:
                    return .tooManyRequests(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 受助者本人撤销自己的紧急求助（倒计时内撤回也走这条）
    ///
    /// 角色：`BLIND`，且只能撤销 `userId` 等于自己的事件。
    ///
    /// 🚩 **响应的 `status` 有两个值，客户端的播报文案必须分开**：
    /// - `CANCELLED` —— 事件还在 `COUNTDOWN`，求助**从未发出**。
    ///   不发解除短信、不推客服（一条求救短信都没发过，发「解除」等于凭空吓家属一次），
    ///   并且**释放冷却位**：误触后 3 秒内取消、10 秒后真的出事再按，不该被 429 挡下。
    ///   客户端播「已取消，没有发出求助」。
    ///
    /// - `FALSE_ALARM` —— 求助**已经发出去过**。事件置 `FALSE_ALARM` + `resolvedAt`，
    ///   给主要紧急联系人补发一条解除短信、向客服推 `EMERGENCY_CANCELLED_BY_OWNER`。
    ///   客户端播成「没有发出求助」是假话 —— 家属手机上那条求救短信是真的。
    ///
    ///
    /// ⚠️ **倒计时到点与用户取消是竞争关系**，谁先拿到行锁谁赢。 用户在宽限窗口末尾按取消而调度器刚好先一步，结果就是 `FALSE_ALARM`（发出后立即撤销）—— 这不是 bug，是 `countdown-grace-ms` 存在的理由，它把这个窗口压到最小。 所以**不要按自己发过什么去猜结果，按返回的 `status` 播**。
    ///
    /// 这是误触的唯一用户侧出口 —— 志愿者**没有**撤销权（见 volunteer-response 的 403）。
    ///
    /// - Remark: HTTP `PUT /api/emergency/{eventId}/cancel`.
    /// - Remark: Generated from `#/paths//api/emergency/{eventId}/cancel/put(cancel)`.
    public func cancel(_ input: Operations.cancel.Input) async throws -> Operations.cancel.Output {
        try await client.send(
            input: input,
            forOperation: Operations.cancel.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/emergency/{}/cancel",
                    parameters: [
                        input.path.eventId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .put
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.cancel.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIObjectContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 403:
                    return .forbidden(.init())
                case 409:
                    return .conflict(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 志愿者确认紧急事件（只能确认需要帮助，不能撤销）
    ///
    /// 角色：`VOLUNTEER`，且必须是该订单的志愿者。
    ///
    /// ⚠️ **`action=FALSE_ALARM` 一律返回 403 `EMERGENCY_VOLUNTEER_CANNOT_DISMISS`**， 志愿者端不要提供「误触」按钮。一对一陪跑场景里志愿者本身可能就是威胁来源， 陪同者不得关闭被陪同者的警报；撤销权只在受助者本人（`PUT /api/emergency/{eventId}/cancel`） 和客服（`PUT /api/cs/emergency-events/{eventId}/false-alarm`）手里。 同类产品（Alarm.com Safety Button / Life360 / Android Emergency SOS）一致如此。
    ///
    /// `NEED_HELP` 只记录响应并回执，**不会**再次通知紧急联系人（触发时已通知）。 枚举值 `FALSE_ALARM` 保留在 schema 里仅因它仍是 `VolunteerAction` 的合法取值，**不可用**。
    ///
    /// - Remark: HTTP `PUT /api/emergency/{eventId}/volunteer-response`.
    /// - Remark: Generated from `#/paths//api/emergency/{eventId}/volunteer-response/put(volunteerResponse)`.
    public func volunteerResponse(_ input: Operations.volunteerResponse.Input) async throws -> Operations.volunteerResponse.Output {
        try await client.send(
            input: input,
            forOperation: Operations.volunteerResponse.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/emergency/{}/volunteer-response",
                    parameters: [
                        input.path.eventId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .put
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "action",
                    value: input.query.action
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.volunteerResponse.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIObjectContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 403:
                    return .forbidden(.init())
                case 409:
                    return .conflict(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 获取隐私政策/用户协议链接（App Store 审核 5.1.1/5.1.2）
    ///
    /// 2026-07-27 新增，`SecurityConfig` 已 `permitAll`（无需登录）。
    /// （2026-07-30 补进契约唯一源，此前实现已上线但 spec 缺失该端点，见 handoff.md）
    /// 两个字段均可能为 `null`：来自 `app.legal.privacy-policy-url` / `app.legal.user-agreement-url`
    /// 配置注入（部署时 `-D` JVM 参数覆盖，空字符串会被转成 `null`）。
    /// **截至目前生产环境尚未配置真实 URL**（`application-prod.properties` 未覆盖这两个 key，仓库内也
    /// 查不到部署时注入的值）——上线前需运维在部署命令里补上
    /// `-Dapp.legal.privacy-policy-url=... -Dapp.legal.user-agreement-url=...`，具体时间未定。
    /// 前端在 `null` 或请求失败时应回退到内置文案页，不能出现空白/报错（已按此实现）。
    ///
    /// - Remark: HTTP `GET /api/misc/legal-links`.
    /// - Remark: Generated from `#/paths//api/misc/legal-links/get(getLegalLinks)`.
    public func getLegalLinks(_ input: Operations.getLegalLinks.Input) async throws -> Operations.getLegalLinks.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getLegalLinks.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/misc/legal-links",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getLegalLinks.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseLegalLinksResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 重连后补读离线期间错过的通知
    ///
    /// 盲人/志愿者 WS 重连后调用，返回 after 时间点之后、最近 24h 内、最多 50 条通知（按时间正序）。 前端按 ttsText 逐条朗读。
    ///
    /// **续读靠顶层 `hasMore`**（2026-08-29 新增）：为 `true` 时表示窗口里还有没返回完的， 客户端应当拿本次**最后一条**的 `sentAt` 当新的 `after` 再调一次，直到它为 `false`。 在此之前客户端只能靠「是不是正好 50 条」去猜，而那个上限是后端可以改的 —— 离线越久越容易超过 50 条，也就越容易漏掉最该补读的那一批。
    ///
    /// - Remark: HTTP `GET /api/notifications/since`.
    /// - Remark: Generated from `#/paths//api/notifications/since/get(getSince)`.
    public func getSince(_ input: Operations.getSince.Input) async throws -> Operations.getSince.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getSince.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/notifications/since",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "after",
                    value: input.query.after
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getSince.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseListMissedNotificationResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    return .badRequest(.init())
                case 401:
                    return .unauthorized(.init())
                case 403:
                    return .forbidden(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 创建订单
    ///
    /// 下单前置校验（按顺序，命中即返回，不继续往下）：
    /// 1. `plannedEndTime` 必须晚于 `plannedStartTime`，否则 400 `BAD_REQUEST`
    /// 2. `plannedStartTime` 不能早于当前时间，否则 400 `BAD_REQUEST`
    /// 3. `plannedStartTime` 距当前时间需至少 `app.order.min-lead-time-minutes`（默认 30）分钟，否则 422 `APPOINTMENT_TOO_SOON`
    /// 4. `plannedEndTime - plannedStartTime` 不得超过 300 分钟（5 小时），否则 422 `APPOINTMENT_TOO_LONG`（N134）
    /// 5. **整段行程**不得有任何一刻落进夜间禁跑窗口 `[22:00, 05:00)`，否则 422 `APPOINTMENT_IN_NIGHT_WINDOW`（N134）。
    ///    判据是整段不是开始时刻：`21:00–22:30` **拒**（尾巴进了夜间），`21:00–22:00` 放行（恰好 22:00 结束不算重叠），
    ///    `05:00–06:00` 放行（恰好 05:00 开始不算重叠）。⚠️ 顺序在 4 之后：跨多天的超长单两条都命中，返回的是 `APPOINTMENT_TOO_LONG`
    /// 6. `plannedStartTime` 不得超出 `app.order.max-lead-days`（默认 7 天），否则 422 `APPOINTMENT_TOO_FAR`（2026-09-05 新增；此前**只有下限没有上限**）
    /// 7. **时段冲突**：与该盲人任一未走完的订单（全部非终态）在时间上重叠时拒绝，409 `DUPLICATE_ORDER`。
    ///    两侧各外扩 `app.order.booking-buffer-minutes`（默认 60）判区间相交。
    ///    🚩 **2026-09-05 起从「有任何未走完的单就拒绝」改成只拦时段冲突** —— 跨天预约上线后，
    ///    约了后天早上的单不该让人这两天里下不了任何单，而取消预约就抢不回那个志愿者了。
    /// 8. **并发预约数**：未走完的单已达 `app.order.max-concurrent-scheduled`（默认 3）时拒绝，409 `TOO_MANY_SCHEDULED_ORDERS`。
    ///    这是第 7 条放开之后唯一的刷单闸门。
    /// 9. 盲人 `BlindProfile.verifyStatus != VERIFIED` 时拒绝，403 `IDENTITY_NOT_VERIFIED`（2026-07-30 新增硬门槛，此前为软引导不阻断）
    /// 10. 无紧急联系人时拒绝，403 `EMERGENCY_CONTACT_REQUIRED`（此前复用通用 `ORDER_PERMISSION_DENIED`，前端无法程序化区分场景，2026-07-30 改为专用码）
    ///
    /// 📅 **跨天预约（2026-09-05）**：距开跑超过 `app.order.scheduled-ahead-threshold-minutes`
    /// （默认 240 分钟）时被接单的订单进入 `SCHEDULED_CONFIRMED` 而不是 `PENDING_ACCEPT`，
    /// 要等志愿者调 `POST /api/orders/{id}/confirm-departure` 才进入出发流程。
    /// 客户端把这一态显示为「已预约，等待志愿者临期确认」。
    ///
    /// 成功返回 **201 Created**（历史文档误写为 200，已更正）。
    ///
    /// - Remark: HTTP `POST /api/orders`.
    /// - Remark: Generated from `#/paths//api/orders/post(createOrder)`.
    public func createOrder(_ input: Operations.createOrder.Input) async throws -> Operations.createOrder.Output {
        try await client.send(
            input: input,
            forOperation: Operations.createOrder.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/orders",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 201:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.createOrder.Output.Created.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.OrderResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .created(.init(body: body))
                case 403:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.createOrder.Output.Forbidden.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiErrorResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .forbidden(.init(body: body))
                case 409:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.createOrder.Output.Conflict.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiErrorResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .conflict(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.createOrder.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiErrorResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 我当前这一单（App 冷启动 / 断线重连恢复用）
    ///
    /// 角色：`BLIND`。返回该盲人**还没走完**的那一单 （`status ∉ {COMPLETED, CANCELLED, NO_VOLUNTEER}`，含 `PENDING_MATCH` / `PENDING_INTRO_CALL` / `REMATCHING` 等还在等人的状态），没有则 `data` 为 `null`。 同时存在多条时取 `createdAt` 最近的一条。
    ///
    /// **这是盲人端「我现在到哪一步了」的唯一权威来源。** 此前没有这个语义： `GET /api/orders/mine` 是分页历史列表（要自己传 role/status/page/size 再自己挑）， `GET /api/orders/{id}` 要求已经知道 id —— 而 App 被系统杀掉后 id 恰恰是丢掉的那个东西。 与 `GET /api/emergency/active` 是**同一次冷启动恢复里的一对**，形状也刻意一致。 志愿者侧的对应物是 `GET /api/volunteer/dispatch-summary` 的 `activeOrders`。
    ///
    /// 响应体与 `GET /api/orders/{id}` **逐字相同**（同一个 `OrderDetailResponse`）， 包括 `volunteerPhone`：在 `PENDING_ACCEPT` / `DRIVER_EN_ROUTE` / `DRIVER_ARRIVED` / `IN_PROGRESS` 四态下发**能直接拨通的明文号**，其余状态为 `null`，永远不是掩码串 （见该 schema 上的说明）。重开 App 后立刻能打给志愿者正是这个端点存在的理由之一。
    ///
    /// - Remark: HTTP `GET /api/orders/active`.
    /// - Remark: Generated from `#/paths//api/orders/active/get(activeOrder)`.
    public func activeOrder(_ input: Operations.activeOrder.Input) async throws -> Operations.activeOrder.Output {
        try await client.send(
            input: input,
            forOperation: Operations.activeOrder.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/orders/active",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.activeOrder.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseOrderDetailResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 401:
                    return .unauthorized(.init())
                case 403:
                    return .forbidden(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// **此刻派给我、还能回复的单**（按距离升序，最多 20 条）。志愿者需先上报位置（WS `LOCATION_UPDATE`）， 无位置时返回空数组。
    /// 🚩 2026-10-06 起（#392）范围与 `GET /api/volunteer/pending-invites` 是**同一个谓词**：手上有这一单 `PENDING`、
    /// 未过期、当前代次的邀请，且订单仍在派单中。此前这里列的是附近所有待派单（含已被接走的 `PENDING_ACCEPT`），
    /// 而那些单一张都接不了（`ORDER_DISPATCH_MISMATCH`）。列表里的每一单都能直接回复；
    /// 需要完整的邀请信息（`inviteId`、`expiresAt`）请用 `pending-invites`。
    /// ⚠️ 2026-08-07 起加了两道收口：① 未通过资质审核（`verified=false`）的志愿者一律返回空数组 —— 与派单候选池、接单守卫口径一致，反正也接不了单； ② 响应中**不再包含 `specialNotes`** —— 盲人在「特殊说明」里会写身体状况， 那属于接单后才该看见的信息，接单后经 `GET /api/orders/{id}` 下发。
    ///
    /// - Remark: HTTP `GET /api/orders/available`.
    /// - Remark: Generated from `#/paths//api/orders/available/get(getAvailableOrders)`.
    public func getAvailableOrders(_ input: Operations.getAvailableOrders.Input) async throws -> Operations.getAvailableOrders.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getAvailableOrders.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/orders/available",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getAvailableOrders.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            [Components.Schemas.AvailableOrderResponse].self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 查询我的订单列表（分页）。
    ///
    /// **排序：固定按 `createdAt` 倒序（最近的在最前），不可配** —— 实现见 `OrderController.getMyOrders` 的 `PageRequest.of(page, size, Sort.by(DESC, "createdAt"))`。 此前这条没写进契约，属未定义行为，客户端只能自己再排一遍兜底（iOS 2026-08-12 提出）。 **现在它是契约的一部分**：客户端可以去掉本地兜底排序。
    ///
    /// 刻意**不提供 `sort` 参数**：盲人在历史里找的是「哪一次」，顺序错了就得从头听到尾， 而多一个排序维度只会多一种听起来一样、顺序却不同的列表。真需要别的顺序再单开参数。
    ///
    /// - Remark: HTTP `GET /api/orders/mine`.
    /// - Remark: Generated from `#/paths//api/orders/mine/get(getMyOrders)`.
    public func getMyOrders(_ input: Operations.getMyOrders.Input) async throws -> Operations.getMyOrders.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getMyOrders.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/orders/mine",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "role",
                    value: input.query.role
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "status",
                    value: input.query.status
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "page",
                    value: input.query.page
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "size",
                    value: input.query.size
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getMyOrders.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PageOrderDetailResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// 我的跑后记录月度列表（按当前角色）
    ///
    /// 按当前用户角色返回某个月**已完成**订单的跑后记录列表 + 月度汇总（2026-09-24 新增）。
    /// 按订单完成时间 `finishedAt` 归月；不分页（一个人一个月的量级）；完成时间倒序。
    /// 取消 / 无人接单的订单不在这里（D9：客户端从 `GET /api/orders/mine` 自己分组到「未完成的预约」）。
    /// 响应走 `ApiResponse` 信封。
    ///
    /// - `items[].distanceM` 与详情页 `summary.distanceM` 是同一个数；记录没有时退回订单完赛快照 `actualDistanceMeters`
    /// - `items[].partnerName`：对方姓名，与订单详情对已完成订单同一口径 —— 始终脱敏（`张*`），对方注销为 `null`
    /// - `items[].thumbnail`：**仅陪跑员**，Douglas-Peucker 简化后的跑者路线（GCJ-02，≤ 64 点）给缩略图用；
    ///   跑者、轨迹不足、超过 90 天留存期时为 `null`
    /// - `monthSummary.serviceMin`：**仅陪跑员**，本月服务分钟数（口径同单条记录的 `service.durationMin`）；跑者为 `null`
    /// - `monthSummary.distanceM`：有里程的那几单之和，一单都没有为 `null`
    /// - `monthSummary.topPartner`：本月一起跑得最多的搭档，并列取最近的那位；本月没有记录为 `null`
    /// - 还没生成过记录的历史单，**一次请求最多当场补算 5 张**；其余这一次先用完赛快照（`thumbnail` 为 `null`），
    ///   下次请求再补下一批。只影响功能上线前的历史单，新完成的订单在完成时就已经生成
    ///
    /// - Remark: HTTP `GET /api/orders/mine/run-records`.
    /// - Remark: Generated from `#/paths//api/orders/mine/run-records/get(getMyRunRecords)`.
    public func getMyRunRecords(_ input: Operations.getMyRunRecords.Input) async throws -> Operations.getMyRunRecords.Output {
        try await client.send(
            input: input,
            forOperation: Operations.getMyRunRecords.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/api/orders/mine/run-records",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "month",
                    value: input.query.month
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.getMyRunRecords.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ApiResponseRunRecordHistoryResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
[...]
